# Notebook de introducción de la clase 0
## Importar Módulos

In [4]:
%load_ext autoreload
%autoreload 2

In [1]:
import numpy as np
from clase_0_helper import suma

In [2]:
np.random.randint(0,10,20)

array([1, 9, 8, 1, 7, 4, 5, 3, 3, 3, 1, 9, 6, 0, 1, 4, 3, 8, 3, 4])

In [4]:
suma(3,8)

11

# int, float, string

In [10]:
a = 3
b = 3.0
c = 'Esto es un string'

In [11]:
c

'Esto es un string'

## tuplas, listas, conjuntos, diccionarios

In [28]:
tupla = (a,b,c,a*2,b*2,c*2)
print(tupla)

(3, 3.0, 'Esto es un string', 6, 6.0, 'Esto es un stringEsto es un string')

In [26]:
tupla[-1]

'Esto es un string'

In [27]:
tupla[:2]

(3, 3.0)

In [34]:
tupla[6:0:-2]

('Esto es un stringEsto es un string', 6, 3.0)

In [35]:
tupla2 = (a,b,c,a+4,b+3,c+' Hola')

In [36]:
tupla + tupla2

(3,
 3.0,
 'Esto es un string',
 6,
 6.0,
 'Esto es un stringEsto es un string',
 3,
 3.0,
 'Esto es un string',
 7,
 6.0,
 'Esto es un string Hola')

In [43]:
tupla.index(3)

0

### list

In [47]:
lista1 = [a,b,c,a*2,b*2,c*2]
lista2 = [a,b,c,a+4,b+3,c+' Hola']

In [49]:
lista1[0]

3

In [51]:
lista1[0]=4

In [52]:
lista1

[4, 3.0, 'Esto es un string', 6, 6.0, 'Esto es un stringEsto es un string']

In [53]:
lista1.append('agrego')

In [54]:
lista1

[4,
 3.0,
 'Esto es un string',
 6,
 6.0,
 'Esto es un stringEsto es un string',
 'agrego']

In [56]:
del(lista1[2])

In [57]:
lista1

[4, 3.0, 6, 6.0, 'Esto es un stringEsto es un string', 'agrego']

In [59]:
lista1.count(4)

1

In [60]:
lista1.insert(2, 'Hola')

In [61]:
lista1

[4, 3.0, 'Hola', 6, 6.0, 'Esto es un stringEsto es un string', 'agrego']

In [64]:
lista1.reverse()

In [65]:
lista1

['agrego', 'Esto es un stringEsto es un string', 6.0, 6, 'Hola', 3.0, 4]

## Diccionarios

In [67]:
dict1 = {
    'nombre':'Carlos',
    'apellido':'Selmo',
    'edad':42,
    42 : 'un número en particular',
    (9,9,6): 'hoy es sábado'
}

In [69]:
dict1[(9,9,6)]

'hoy es sábado'

In [74]:
dict1.items()

dict_items([('nombre', 'Carlos'), ('apellido', 'Selmo'), ('edad', 42), (42, 'un número en particular'), ((9, 9, 6), 'hoy es sábado')])

## Sets

In [76]:
set1 = {1,'andrés','julián, 7.5'}
set2 = {1,'andrés','calor, 2.5'}

In [77]:
set1.union(set2)

{1, 'andrés', 'calor, 2.5', 'julián, 7.5'}

In [78]:
set1.intersection(set2)

{1, 'andrés'}

In [81]:
set1.isdisjoint(set2)

False

In [82]:
set1.symmetric_difference(set2)

{'calor, 2.5', 'julián, 7.5'}

In [85]:
set1.add('carlos')

In [86]:
set1

{1, 'andrés', 'carlos', 'julián, 7.5'}

In [90]:
list(dict1.keys())[0]

'nombre'

## Iteracion con for

In [97]:
for elem in dict1.items():
    print(elem)

('nombre', 'Carlos')
('apellido', 'Selmo')
('edad', 42)
(42, 'un número en particular')
((9, 9, 6), 'hoy es sábado')

In [98]:
for key, value in dict1.items():
    print(key, value)

nombre Carlos
apellido Selmo
edad 42
42 un número en particular
(9, 9, 6) hoy es sábado

In [108]:
%%time
list = []
for i in range(10001):
    list.append(i**i)

Wall time: 19.1 s

## List & Dictionary Comprehension

In [112]:
%%time
list1 = [i**i for i in range(10001)]

Wall time: 16.7 s

In [114]:
dict1 = {i:i**2 for i in range(101)}
dict1

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801,
 100: 10000}

In [3]:
lista = []
a = 2
while len(lista)<10:
    lista.append(a)
    a=a*a

In [4]:
lista

[2,
 4,
 16,
 256,
 65536,
 4294967296,
 18446744073709551616,
 340282366920938463463374607431768211456,
 115792089237316195423570985008687907853269984665640564039457584007913129639936,
 13407807929942597099574024998205846127479365820592393377723561443721764030073546976801874298166903427690031858186486050853753882811946569946433649006084096]

In [7]:
for elem in lista:
    if elem >= 100000:
        print('Mayor')
    elif elem<100000 and elem>=50000:
        print('Intermedio')
    else:
        print('Bajo')

Bajo
Bajo
Bajo
Bajo
Intermedio
Mayor
Mayor
Mayor
Mayor
Mayor

## Funciones

In [1]:
from clase_0_helper import function

In [2]:
a = 3
b = 4
function(a,b, d='No default')

57

'No default'

# Clases

In [6]:
from clase_0_helper import ComplexNumbers

In [118]:
complexnumber1=ComplexNumbers(3,5)

In [99]:
complexnumber1.imag, complexnumber1.real

(5, 3)

In [105]:
complexnumber1.print()

El número complejo es 3+5i

In [106]:
complexnumber1.set_real(6)
complexnumber1.print()

El número complejo es 6+5i

In [119]:
complexnumber2 = ComplexNumbers(10,10)
complexnumber2.print()

El número complejo es 10+10i

In [108]:
complexnumber1.suma(complexnumber2)

In [109]:
complexnumber1.print()

El número complejo es 16+15i

In [113]:
print(complexnumber1)

La parte real es 16 y la parte imaginaria es 15

In [120]:
complexnumber1+complexnumber2

La parte real es 13 y la parte imaginaria es 15

In [121]:
complexnumber1*complexnumber2

La parte real es -20 y la parte imaginaria es 80

In [123]:
complexnumber1+complexnumber2+ComplexNumber(1,1)

La parte real es 14 y la parte imaginaria es 16

In [124]:
complexnumber1*complexnumber2+ComplexNumber(1,1)

La parte real es -19 y la parte imaginaria es 81

In [125]:
type(complexnumber1)

clase_0_helper.ComplexNumbers

## Herencia

In [4]:
from clase_0_helper import TriplexNumbers, ComplexNumbers

In [2]:
triplex_number = TriplexNumbers(3,5,7)

In [3]:
triplex_number

La parte real es 3, la parte imaginaria es 5 y la parte tres es 7

In [5]:
triplex_number1 = TriplexNumbers(3,5,7)
triplex_number2 = TriplexNumbers(1,1,1)
complexnumber3 = ComplexNumbers(8,4)

In [8]:
complexnumber3

La parte real es 8 y la parte imaginaria es 4

In [6]:
triplex_number1+triplex_number2

La parte real es 4, la parte imaginaria es 6 y la parte tres es 8

In [10]:
complexnumber3

La parte real es 8 y la parte imaginaria es 4

In [30]:
aa = triplex_number2 + complexnumber3

In [29]:
triplex_number2 + triplex_number1

La parte real es 4, la parte imaginaria es 6 y la parte tres es 8

In [7]:
triplex_number2 + complexnumber3

La parte real es 9 y la parte imaginaria es 5

In [8]:
complexnumber3 + triplex_number2

La parte real es 9 y la parte imaginaria es 5